# config files
config

# inventory
inventory

# variables
vars

# ansible.log and ansible.cfg
ansible.*

# terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfplan
